/*
    user-defined fonts
*/
@font-face {
    font-family: Trajan;
    src: url(Trajan.ttf);
}


body {
    background: linear-gradient(to bottom, rgb(227, 242, 243) , white 50% );
}

header {
    height: 150px;
    background-color: #283441;
    font-family: Trajan; 
    color: white;
}

nav {
    background-color: #4A5D73;
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-family: Trajan;
    border-bottom: 3px solid rgb(209, 209, 209);
}

article {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    background-color: white;
}

#map {
    width: 100%;
    height: 500px;
}

#map a{
    color: black;
    margin-left: 95%;
    margin-top: 450px;
}


section {
    height: 200px;
    width: 100%;
}

#sectionInfo {
    height: 100%;
    width: 100%;
}

aside {
    width: 50%;
    height: 100%;
    float: right;
    background-color: white;
}

#emailLink {
    color: black;
}

footer {
    border-top: 2px solid rgb(209, 209, 209);
    color: white;
    height: 200px;
    /*background-color: #5C777B;*/
}

.footerSection { 
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: #5C777B;
}

#infoRight {
    float: right;
    width: 30%;
    height: 100%;
}

#infoLeft {
    float: left;
    width: 70%;
    height: 100%;
}

#Subjects {
    padding-left: 5%;
}

#mainImage {
    float: right;
    width: 225px;
    height: 250px;
    padding: 2% 5%;
}

h1, h4 {
    padding-left: 5%;
    padding-top: 2%;
    width: 100%;
}

h2, h3 {
    font-family: Trajan;
    font-size: 1.2em;
    padding: 25px 5% 0px;
}

#mainTitle {
    font-size: 1.4em;
}

p {
    padding: 1% 5% 0% 5%;
    width: 80%;
}

#footerText {
    padding: 0% 5% 0% 5%;
    font-size: 0.7em;
    text-align: left;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-family: Trajan;
    margin-left: 5%;
}

#currentPage {
    border-bottom: 2px solid white;
}
#SubjectHeader {
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sectionBorder {
    background-image: linear-gradient(to right, #FFF, rgb(172, 172, 172), #FFF);
    max-width: 1000px;
    width: 80%;
    height: 3px;
    margin: 10% 0% 10% 0%;
}

a:hover {
    text-decoration: underline;
}
ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

#spacer {
    height: 100px;
}

#footerLink {
    font-size: 0.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

